<div class="container">
	
	<h2>Ooyala</h2>
	<p>Con este demo, termino de demostrar mis habilidades para crear aplicaciones usando angular.js</p>
	<p>No estoy volviendo a hacer todo lo que <em>sí hice</em> durante mi entrevista, sino lo que me faltó demostrar</p>
	<p>Ejemplos de lo que se puede ver aquí es:</p>
	<ul>
		<li>Usando views y cambiándolas dinámicamente</li>
		<li>Usando modal dialogs con sus propios controladores</li>
		<li>Usando factory en lugar de librerías tradicionales de JS para alimentar servicios</li>
		<li>Probablemente hay algo más que usé que no estoy poniendo en esta lista</li>
	</ul>
	
</div>